.todo-container {
  background-image: url('assets/abstract-paper-is-colorful-background-creative-design-pastel-wallpaper_6529-543.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todo-title {
  font-size: 2rem;
  color: #212821a7;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
  
}

.todo-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.todo-input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  width: 100%;
  max-width: 400px;
}

button {
  background-color: #2231227c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #23272396;
  transform: rotate(10deg);
}

.error-message {
    color: red;
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .center-text {
    text-align: center;
  }
  
  
  
  
  
  