
.todo-container {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.no-todos {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  margin-right: 10px;
  flex: 1;
}

button {
  padding: 10px;
  margin-left: 10px;
  font-size: 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #555;
}


.error {
  color: red;
  margin-top: 10px;
}

.todos-container {
  margin-top: 20px;
  width: 100%;
}

.todos-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 100%;
}

.todo-item div {
  font-size: 16px;
}

.todo-actions {
  display: flex;
  align-items: center;
}

.todo-actions button {
  margin-right: 10px;
}

.trash-button {
  background-color: #f44336;
  color: #fff;
}

.trash-container {
  margin-top: 20px;
  width: 100%;
}

.trash-container h2 {
  font-size: 24px;
  font-weight: bold;
}


body {
  background-color: #a296a0;
  }
  
  h1 {
  font-size: 36px;
  text-align: center;
  margin-top: 50px;
  }
  
 
  ::placeholder {
  color: #999;
  }
  
 
  .todo-item:hover {
  background-color: #f9f9f9;
  }
  

  .todo-item.completed {
  background-color: #e0e0e0;
  text-decoration: line-through;
  }
  

  .trash-button:hover {
  background-color: #d32f2f;
  }
  
  
  .no-trash {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  }
  

  .restore-button {
  background-color: #4caf50;
  color: #fff;
  }
  
 
  .restore-button:hover {
  background-color: #388e3c;
  }
  
  
  .confirmation {
  font-size: 16px;
  margin-top: 10px;
  }
  
  
  .confirm-delete-button {
  background-color: #f44336;
  color: #fff;
  }
  

  .confirm-delete-button:hover {
  background-color: #d32f2f;
  }